{% extends "home_base.html" %}
{% block content %}

<div class="row">
	<!-- LEFT SIDEBAR -->
	<div class="col-md-4">

		<div class="row">
			<div class="col-md-12">
			  	<div class="bs-component">
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="app_label">API Challenge Info </h4>
						</div>
					    <div class="panel-body">
						    <p>FEBRUARY 27 - MARCH 24</p>

						    <p>The Vainglory API powered by MadGlory is now live! If you’ve got some development chops, you can now create your very own app that uses live Vainglory data to win the respect of your fellow players and even some prizes!</p>

								<p>Register by yourself or with a team of up to 4 for the API Challenge by creating a piece of software that uses Vainglory data. The contest starts on February 27th, and will run until March 24th at 11:59 PM EST. A grand prize winner for best overall app will be crowned, along with the top two most impressive entries for each category. You can enter as many apps as you’d like; you just need to fill a separate submission for each one.</p>

								<a href="https://developer.vainglorygame.com/rules" target="_blank">[Read More]</a>
					    </div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
			  	<div class="bs-component">
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="app_label">Vainglory Community </h4>
						</div>

					    <div class="panel-body">

					    	<p>Want to keep track of what's happening in the developer community? Check out the below links to experience a community like no other.</p>

					        <div class="col-md-12 app_buttons">
				              <a href="#" class="btn btn-primary col-md-12"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
				              <a href="#" class="btn btn-primary col-md-12"><i class="fa fa-commenting-o" aria-hidden="true"></i> Discord </a>
				            </div>

					    </div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- RIGHT CONTENT -->
	<div class="col-lg-8 col-md-8">

	<div class="bs-component">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<h5 class="app_label">Vainglory API challenge submissions </h5>
					</div>
					<div class="col-sm-3 col-md-3">
						<select class="form-control">
							<option>Sort by date</option>
							<option>Sort by likes</option>
						</select>
					</div>

					<div class="col-sm-3 col-md-3">
						<select class="form-control">
							<option># Results</option>
						</select>
					</div>
				</div>
			
			</div>

		    <div class="panel-body">
				<div class="row top10">
					<div class="col-md-12">
						<table class="table table-hover">
							{% for app in apps %}
							<tr>
								<td>
									<a href="#">
									{% if app.thumbnail_url %}
										<img class="media-object" src="{{ app.thumbnail_url }}" alt="..." width="100px">
									{% else %}
										<img class="media-object" src="http://api.thumbalizr.com/?url={{app.url}}/&width=64" alt="...">
									{% endif %}
									</a>
								</td>
								<td>
									<h6 class="media-heading"><a href="{% url 'app-details' app.id %}">{{ app.name }}</a></h6>
									<p>{{ app.description }}</p>
									<p><small><i class="fa fa-thumbs-up"></i> Likes: 99123 </small></p>

								</td>
							</tr>
							{% endfor %}
						</table>
					</div>
				</div>
		    </div>
		  </div>
		</div>
	</div>
</div>

{% endblock %}
