{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vainglory API - Submission</title>

    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/base.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/style.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/font-awesome.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "assets/css/ie_viewport_fix.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="hero-container">
      <section class="hero">
        <h1>Great Communities</h1>
        <h3>Build Great Things</h3>
      </section>
    </div>

    <div class="container">    
      <div class="row">
      <!-- Page -->
      {% block body %}
          {% block content %}{% endblock %}
      {% endblock %}
      </div>

    <footer>
        <div class="row">
          <div class="col-lg-12">
            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
              <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
              <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
              <li><a href="../help/#support">Support</a></li>
            </ul>
            <p>Made by <a href="http://thomaspark.co" rel="nofollow">Madglory</a>. Contact us at <a href="mailto:thomas@bootswatch.com">info@madgloryint.com</a>.</p>
          </div>
        </div>

      </footer>
      
    </div> <!-- END CONTAINER -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "assets/js/ie_viewport_fix.js" %}"></script>
  </body>
</html>