{% extends "public_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row-fluid submission_container">
  <!-- LEFT SIDEBAR -->
  <div class="col-md-4">
    <div class="row-fluid">
      <div class="col-md-12">
          <div class="bs-component">
          <div class="panel panel-default">
              <div class="panel-body">
                  <h4 class="app_label">API Challenge Info </h4>
                  <p>The Vainglory API powered by MadGlory is now live! If you’ve got some development chops, you can now create your very own app that uses live Vainglory data to win the respect of your fellow players and even some prizes!</p>
                  <div class="col-md-12 app_buttons">
                    <a href="https://developer.vainglorygame.com/rules" class="btn btn-primary col-md-12"> Rules </a>
                    <a href="https://discord.gg/b6gzh" class="btn btn-primary col-md-12"> Discord </a>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT CONTENT -->
  <div class="col-lg-8 col-md-8 submission_form">

        <h4 class="submission_form_headline">Submit your application!</h4>

        {% if messages %}
        <div class="alert alert-accent alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <p>You will only be able to submit your application once. This information will not be editable after it has been submitted. If you run into a problem, <a href="mailto:api@superevilmegacorp.com">api@superevilmegacorp.com</a>.</p>

        <p><i>Submission closes on March 24th.</i></p>

        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <label for="app_name">First name *</label>
              {{ form.first_name|add_class:"form-control" }}
            </div>

            <div class="col-md-6">
              <label for="app_name">Last name *</label>
              {{ form.last_name|add_class:"form-control" }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <label for="app_name">Your email *</label>
              {% if form.email_address.errors %}
              {{ form.email_address|add_class:"form-control error-border"}}
              {{ form.email_address.errors }}
              {% else %}
              {{ form.email_address|add_class:"form-control"}}
              {% endif %}
            </div>
          </div>

          <div class="row"><div class="col-md-12"><hr/></div></div>

          <div class="row">
            <div class="col-md-12">
            <label for="app_name">Application type *</label>
            {{ form.app_type|add_class:"form-control" }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <label for="app_name">Application name *</label>
            {{ form.name|add_class:"form-control" }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <label for="app_url">Application URL</label>
            {{ form.app_url|add_class:"form-control" }}
            </div>
          </div>   
          
          <div class="row">
            <div class="col-md-12">
            <label for="app_url">Github URL *</label>
            {{ form.code_url|add_class:"form-control" }}
            </div>
          </div>   

          <div class="row">
            <div class="col-md-12">
            <label for="description">Application description *</label>
            {{ form.description|add_class:"form-control" }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <label for="description">Image thumbnail url</label>
            {{ form.thumbnail_url|add_class:"form-control" }}
            </div>
          </div>

          <p>Add additional team members to your application submission. </p>
          <div class="row">
            <div class="col-md-12">
            <label for="app_name">Team member 1's email</label>
            {{ form.member1|add_class:"form-control" }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <label for="app_name">Team member 2's email</label>
            {{ form.member2|add_class:"form-control" }}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
            <label for="app_name">Team member 3's email</label>
            {{ form.member3|add_class:"form-control" }}
            </div>
          </div>

          <button type="submit" class="submit btn btn-lg btn-primary">Submit Application</button>

        </form>
      </div>
</div>


{% endblock %}