{% extends "empty_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-12">

      <div class="bs-component">
        <div class="panel panel-default">
          <div class="panel-heading"><h5>Submissions</h5></div>
          <div class="panel-body">

                {% for app in submissions %}
                    <div class="media" style="border-bottom:1px solid #737373;">
                        <div class="col-md-1 col-sm-1">
                            <a href="{{ app.app_url }}" target="_blank">
                              {% if app.thumbnail_url %}
                                <img class="" src="{{ app.thumbnail_url }}" onError="this.onerror=null;this.src='https://madglory.com/assets/img/games/card-vainglory.jpg';">
                              {% else %}
                                <img src="https://madglory.com/assets/img/games/card-vainglory.jpg"/>
                              {% endif %}
                            </a>
                        </div>

                        <div class="col-md-11 col-sm-11">
                            <h4 class="media-heading"><a href="{{ app.app_url }}" target="_blank">{{ app.name }}</a></h4>
                            {{ app.description }}
                            <br/>
                            <p style="padding-left:0px;"><a href="{{app.code_url}}">{{ app.code_url }}</a></p>
                            
                        </div>
                    </div>
                {% endfor %}


                <!-- USER LIST PAGINATION -->
                <ul class="pagination pagination-sm">
                  {% for pg in page_range %}
                    {% if submissions.number == pg %}
                      <li class="active" ><a href ="?page={{ pg }}" >{{pg}}</a></li>
                      {% else %}
                      <li><a href ="?page={{ pg }}">{{pg}}</a></li>
                    {% endif %}
                  {% endfor %}

                  {% if submissions.has_next %}
                    <li><a href="?page={{submissions.next_page_number}}">Next </a>
                  {% endif %}
                </ul>
                
          </div>
        </div>
      </div>


    </div>
</div>


{% endblock %}