{% extends "public_base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="row-fluid submission_container">
  <!-- LEFT SIDEBAR -->
  <div class="col-md-2"></div>
  <div class="col-md-8">
      
      <p>Thank you for submitting your app for the 2017 Vainglory API Challenge. Check back on March 24th to see all the communities submissions! In the meantime, chat with other community developers about your project, and request to add it to the discord channel.
      </p>

      <center><a href="https://discord.gg/b6gzh" class="btn btn-primary" style="width:30%"> Discord </a></center>

  </div>
  <div class="col-md-2"></div>

</div>


{% endblock %}